<h1>Editiing Book</h1>

<% if @book.errors.any? %>
<div class="error">
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @book, url: book_path(@book), method: :patch do |f| %>

 <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
 </div>

 <div class="field">
  <%= f.label :body %>
  <%= f.text_area :body %>
 </div>

 <div class="actions">
  <%= f.submit 'Update Book' %>
 </div>

<% end %>

<%= link_to"Show", book_path %>
|
<%= link_to"back", books_path %>
